<div id="movie-details" class="movie-details" style="opacity:0;">
  <div id="movie-bar">
    <div id="movie-image">
      <img src="https://image.tmdb.org/t/p/w500{{poster}}">
    </div>
    <div id="movie-description">
      <h1 id="movie-title">{{title}} ({{date}})</h1>
      <h2 id="movie-original-title">{{originalTitle}}</h2>
      <p id="runtime">{{runtime}}</p>
      <p id="overview">{{overview}}</p>
      <div id="credits">
        <h3>Credits</h3>
        <div id="movie-credits">
          {{#each credits}}
          <div class="id-{{this.id}} movie-credit">
            <img src="{{creditImage}}">
            <div id="credit-info">
              <p id="credit-job">{{creditJob}}</p>
              <p id="credit-name">{{this.name}}</p>
            </div>
          </div>
          {{/ each}}
        </div>
      </div>
    </div>

  </div>
  <div>
    <h3>Images</h3>
    <div id="movie-images">
      {{#each images}}
      <div class="movie-image">
        <img src="https://image.tmdb.org/t/p/w300{{this.file_path}}">
      </div>
      {{/ each}}
    </div>
    {{#if hasCollection}}
    <div id="collection-parts"></div>
    {{/if}}
    <div id="recommendations"></div>
    <div id="director-movies"></div>
  </div>
</div>