<div id="people-details" class="main-container">
  <div id="people-background" class="parallax-container">
    <h1 id="people-name">{{name}}</h1>
  </div>
  <div id="people-details-panel" class="content-container">
    <div id="people-bar">
      <div id="people-image">
        <img src="https://image.tmdb.org/t/p/w500{{poster}}">
      </div>
      <div id="people-description">
        <h1 id="people-name">{{name}}</h1>
        <p id="date">{{birthday}}</p>
        <p id="biography">{{biography}}</p>
      </div>
    </div>
    <div id="people-list-content">
    </div>
  </div>
</div>