{{#each items}}
<div id="id-{{this.id}}" class="movie-reco {{this.classname}}">
  <img src="https://image.tmdb.org/t/p/w342{{this.poster_path}}">
  <div id="ratiovote" style="width: {{this.voteWidth}}%; background: {{this.voteColor}};">
  </div>
</div>
{{/ each}}